  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr button {
    background: transparent;
    border: none;
    /* width: 0.1vw; */
    color: red;
    cursor: pointer;
  }


 tr button .editIcon {
    width: 1rem;
    border: none;
    outline: none;

  }

  .table-data-sets {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
